@use "../abstracts" as *;

.main-footer {
  background-color: $light-cyan;
  padding: 6rem 4rem;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  max-width: 34rem;
  margin: 0 auto;
}

.footer-logo {
  align-self: center;

  display: inline-block;
  line-height: 0;
  width: 64%;
  height: 100%;
}

.main-footer {
  a:link,
  a:visited {
    color: $dark-desaturated-cyan;
    font-family: "Barlow", sans-serif;
    text-transform: capitalize;
  }
}

.footer-nav-links,
.footer-nav-icons-links {
  display: flex;
}

.footer-nav-links {
  justify-content: space-between;
  margin-bottom: 5.4rem;
}

.footer-nav-icons-links {
  gap: 3.2rem;
  justify-content: center;

  a:link {
    line-height: 0;
    font-size: 2.2rem;
  }
}

@include desktop-layout {
  .main-footer {
    a:link {
      font-size: 1.65rem;
    }
  }

  .footer-wrapper {
    max-width: 35.5rem;
  }

  .footer-nav-icons-links {
    a:link {
      font-size: 2.6rem;
    }
  }
} ;
