@use "../abstracts/" as *;

.hero-section {
  position: relative;
  height: 540px;
}

.hero-section .hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 6rem;
  height: 78%;

  max-width: 375px;
  margin: 0 auto;
}

.hero-section h1 {
  text-align: center;
  font-size: 4rem;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.hero-arrow {
  width: 35px;
  height: 110px;
}
