@use "../abstracts" as *;

.product-section .product {
  display: grid;
}

.product-img {
  order: 1;
}

.product-content {
  order: 2;

  max-width: 375px;
  margin: 0 auto;

  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  padding: 5.6rem 4rem;
}

.product-content h2 {
  color: $very-dark-desaturated-blue;
  font-size: 3.2rem;
}

.product-wrapped {
  display: grid;
  grid-template-rows: 540px 620px;
}

.product-wrapped-container {
  text-align: center;

  position: relative;
  padding: 0 2rem 6rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.product-wrapped-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}

.product-wrapped-content {
  max-width: 375px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 2.6rem;
}

.product-wrapped-content h2 {
  font-size: 3.2rem;
  text-transform: capitalize;
}

.product-graphic {
  color: $dark-desaturated-cyan;
}

.product-photography {
  color: $dark-blue;
}
